.brands {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    list-style: none;
}

.brands {
    text-decoration: none !important;
    border: 0;
    margin: 0 40px 0 0;
    padding: 0;

    width: 40px;

    background-color: #fff;
}

.brands:before {
    font-family: fontawesome_;

    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;


    border: solid 1.5px var(--smoke2);
    font-size: 2em;

    /* margin-top: 2.3rem; */

    height: 0.5em;
    width: 0.5em;

    line-height: 0.4em;
    position: relative;
    text-align: center;

    text-decoration: none !important;
}

.brands:hover:before {

    background-color: rgb(89, 139, 155);
    color: var(--light) ip !important;
    border: solid 2px var(--light) !important;
}

.brands:active {
    font-size: 0.95em;
    background: none;
}

.brands:active:before {
    background-color: rgba(255, 255, 255, 0.35);
    color: var(--light);
}